.smart-table {
    position: relative;
}

.smart-table__settings {
    display: block;

}

.smart-table__menu {
    display: none;
    position: absolute;    
    bottom: 0.1em;
    right: 0.1em;
}

.smart-table__menu .dropdown-menu {
    width: 20em;
}

.smart-table__menu-value-checkboxes {
    max-height: 10em;
    overflow-y: scroll;
}

.smart-table__column-toggle-checkboxes {
    max-height: 10em;
    overflow-y: scroll;
}

.smart-table__menu.active {
    display: block;
}

.smart-table :where(td, th) {
    display: none;
}

.smart-table th.active {
    display: table-cell;
}

.smart-table th {
    position: relative;
}

.smart-table-container__column-toggle-checkbox {}

.smart-table {

}

.button {}